<!-- Google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics.google }}');
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ site.analytics.google }}', 'auto');
  ga('send', 'pageview');
</script>

<!-- Facebook analytics -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ site.analytics.facebook }}',
      cookie     : true,
      xfbml      : true,
      version    : 'v10.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
