<header class="header">
  <div class="header__inner">
    <div class="header__me">
      <a href="{{site.url | relative_url}}" class="header__me__avatar">
        <img src="{{ "/assets/images/saitama-sangv2.png" | relative_url }}"
        width="64"
        height="64"
        alt="{{ site.title }}"
        srcset="{{ "/assets/images/saitama-sangv2.png" | relative_url }} 2x"
        decoding="async">
      </a>
      <div>
        <a href="/" class="header__me__name">{{ site.author.name }}</a>
        <div class="header__me__title">{{ site.author.position }}</div>
      </div>
    </div>
    <nav class="nav">
      <ul>
        {% for item in site.navigation %}
        <li {% if page.url == item.link %}class='nav__item--active'{% endif %}>
          <a href="{{ item.link }}" title="{{ item.name }}">
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
