---
layout: default
---

<div class="content">
  <h1 style="margin-bottom: 32px;">Recent Articles</h1>
  {% for post in paginator.posts %}
  <article>
    <h2 style="margin: 0; font-weight: 500; padding-bottom: 0; padding-top: 0">
      <a href="{{ post.url | prepend: site.baseurl }}" class="black-link">{{ post.title }}</a></h2>
    <p style="margin-top: 2px; margin-bottom: -8px">
      <time datetime="{{ post.date }}" class="gray-on-white">{{ post.date | date: "%B %d, %Y" }}</time>
    </p>
    <p>
      {{ post.content | strip_html | truncatewords: 30 }}
    </p>
    </article>
    <hr>
  {% endfor %}
  <!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
