---
layout: default
---

<article class="post content" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__head">
    <h1 itemprop="name headline">{{ page.title }}</h1>

    {% if page.date %}
      Published at:
      <time class="gray-on-white" datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date | date: "%B %d, %Y" }}
      </time>
    {% endif %}
    {% if page.tags.size > 0 %}
      <div class="post-tags post-card__tags">
        {%- for tag in page.tags -%}
          <a href="/tag/{{ tag }}" class="post-tags__link"><span>#</span>{{ tag }} </a>
        {%- endfor -%}
      </div>
    {% endif %}
  </header>
  <section class="post__body" itemprop="articleBody">
    {% if page.toc %}
      {% include toc.html html=content h_max=3 id="markdown-toc" %}
    {% endif %}
    {% include anchor_headings.html html=content anchorBody="#" beforeHeading=true h_max=2 %}
    {% if page.author %}
    <p class="gray-on-white" style="text-align: right">
        Written by: {{ page.author }}
    </p>
    {% endif %}
  </section>
  <div class="post-nav">
    <div>
      {% if page.previous.url %}
      <a href="{{page.previous.url}}">⇠&nbsp;{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}&nbsp;⇢</a>
      {% endif %}
    </div>
  </div>
  {% if site.disqus.shortname and page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
